
{% extends 'base.html' %}
{% load static %}

{% block title%} GCEC {% endblock %}

{% block body %}

<div class="container d-flex text-center justify-content-center" style="margin-top:116px">
<div class="card border-primary mb-3" style="max-width: 44rem;">
  <div class="card-header">Login</div>

    <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                <span class="" style="color:red">{{ field.errors }}</span>
                <div class="mb-3 row mt-4  ml-2 mr-2">
                    <span class="col-sm-4 col-form-label">{{ field.label_tag }}</span>
                    <div class="col-sm-8">
                        {{ field }}
                    </div>
                </div>
            </div>
        {% endfor %}

      <button type="submit" class="btn btn-primary mb-3 login-btn" id="login-btn">Login</button>
        <a class="nav-link" href="{% url 'home' %}">Back to Home</a>
      </form>

</div>

</div>
{% endblock %}