{% extends 'Admin-dashboard/dashbase.html' %}
{% load static %}

{% block title%} Register {% endblock %}

{% block body %}

<h3>Student Registration Form</h3>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3>{{user_name}}</h3>
        <h3>{{password}}</h3>
        <h4 class="card-title">Glorious Computer & English Classes</h4>
        <!-- <form class="forms-sample">
          <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender">Gender</label>
              <select class="form-control" id="exampleSelectGender">
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          <div class="form-group">
            <label>File upload</label>
            <input type="file" name="img[]" class="file-upload-default">
            <div class="input-group col-xs-12">
              <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputCity1">City</label>
            <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
          </div>
          <div class="form-group">
            <label for="exampleTextarea1">Textarea</label>
            <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-light">Cancel</button>
        </form> -->
        <form method="POST" action="{% url 'student_register' %}">
          {% csrf_token %}
          {% for field in form %}
              <div class="fieldWrapper">
                  <span class="" style="color:red">{{ field.errors }}</span>
                  <div class="mb-3 row mt-4  ml-2 mr-2">
                      <span class="col-sm-4 col-form-label">{{ field.label_tag }}</span>
                      <div class="col-sm-8">
                          {{ field }}
                      </div>
                  </div>
              </div>
          {% endfor %}
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
          <a class="nav-link" href="{% url 'home' %}">Back to Home</a>
  
        </form>
      </div>
    </div>
  </div>

  {% endblock %}